<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title>Detected Ships Images</title> 
  
      <meta name="viewport" content="width=device-width, initial-scale=1"> 
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
      </script> 
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> 
      </script> 
</head> 
<body> 
    <div class="h3">Successfully detected uploaded image for Ships</div>
    <div class="col-md-4"> 
        <img src="/media/images/result.jpg" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /> 
    </div> 
    <div class="h3">Land Water Discrimination...</div>
    <div class="col-md-4"> 
        <img src="/media/images/result_2.jpg" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /> 
    </div> 
</body> 
</html> 
